.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .search-input {
    position: relative;
    top: 2px;
    transition: top 0.1s, box-shadow 0.1s;
    width: 70%;
    margin: 30px 0 0;
    outline: none;
    font: 500 14px 'Roboto', sans-serif;
    padding: 10px 30px;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
    -webkit-box-shadow: 2px 2px 0 black;
  }

  .search-input:hover {
    top: 0;
    box-shadow: 4px 4px 0 black;
    -webkit-box-shadow: 4px 4px 0 black;
  }

  .search-input::placeholder {
    font: 500 14px 'Roboto', sans-serif;
    color: black;
  }
}

@media only screen and (max-width : 480px) {
  .input-wrapper .search-input {
    margin: 20px 0 0;
    padding: 8px 20px;
  }

  .input-wrapper .search-input::placeholder {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width : 824px) and (orientation: landscape) {
  .input-wrapper .search-input {
    margin: 10px 0 0;
    padding: 5px 15px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .input-wrapper .search-input {
    font-size: 1.2rem;
  }

  .input-wrapper .search-input::placeholder {
    font-size: 1.2rem;
  }
}

