.container {
  width: calc((100vw - 34px * var(--items)) / var(--items));;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 15px;
  background: $theme-item-background;
  position: relative;
  z-index: 1;
  transition: top 0.1s, box-shadow 0.1s;
  top: 2px;
  font: 500 14px 'Roboto', sans-serif;
  border: 2px solid $theme-shadow-color;
  box-shadow: 4px 4px 0 $theme-shadow-color;
  -webkit-box-shadow: 4px 4px 0 $theme-shadow-color;
  cursor: grab;

  .image-block {
    .image-block__image {
      width: 100%;
      border-bottom: 2px solid $theme-shadow-color;
    }
  }

  .container-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    color: $theme-font-color;

    .container-content__header {
      margin: 0;
      word-wrap: break-word;

      .container-content__title {
        margin: 0 0 15px 0;

        .container-content__title-link {
          font-size: 1.6rem;
          color: $theme-font-color;
          text-decoration: none;
        }
      }

      .container-content__channel {
        font-style: italic;
      }
    }

    .container-content__description {
      font-size: 1.2rem;

      p {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        line-height: 1.6rem;
      }
    }

    .container-content__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.3rem;
      margin-bottom: 10px;

      span {
        margin-left: 5px;
      }
    }
  }
}

.container:hover {
  top: 0;
  box-shadow: 6px 6px 0 $theme-shadow-color;
  -webkit-box-shadow: 6px 6px 0 $theme-shadow-color;
  filter: none;
}

@media only screen and (max-width : 824px) and (orientation: landscape) {
  .container {
    .container-content {
      .container-content__header {
        .container-content__title {
          margin: 5px 0 0;

          .container-content__title-link {
            font-size: 1.2rem;
            display: inline-block;
            line-height: 1.75rem;
          }
        }

        .container-content__channel {
          font-size: 1rem;
        }
      }

      .container-content__description {
        p {
          font-size: 1rem;
        }
      }

      .container-content__footer-section {
        font-size: 1.1rem;

        .container-content__footer {
          font-size: 1.1rem;
        }
      }
    }

    .image-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: gray;

      .image-block__image {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .container .container-content .container-content__description p {
    font-size: 1.2rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .container  {
    .image-block {
      .image-block__image {
        width: 45%;
      }
    }

    .container-content {
      .container-content__header {
        .container-content__title {
          margin: 5px 0 0;

          .container-content__title-link {
            display: inline-block;
            line-height: 1.75rem;
          }
        }
      }

      .container-content__description {
        p {
          overflow: hidden;
          max-height: 50px;
        }
      }
    }
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .container  {
    .container-content {
      .container-content__header {
        .container-content__title {
          margin: 5px 0;

          .container-content__title-link {
            display: inline-block;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}
