.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  height: 35px;
  padding: 5px 10px;
  transition: top 0.1s, box-shadow 0.1s;
  font: 700 16px 'Roboto', sans-serif;
  color: $theme-font-color;
  border: 2px solid $theme-shadow-color;
  background-color: $theme-item-background;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 $theme-shadow-color;
  -webkit-box-shadow: 2px 2px 0 $theme-shadow-color;
}

.button.tooltip:after {
  content: attr(data-page);
  padding: 5px 10px;
  position: absolute;
  bottom: 40px;
  background-color: $theme-item-background;
  border: 2px solid $theme-shadow-color;
}

.prev-page-button {
  flex-grow: 1;
  margin-right: 25px;
}

.prev-page-button:active {
  top: 2px;
  box-shadow: 0 0 0 $theme-shadow-color;
  -webkit-box-shadow: 0 0 0 $theme-shadow-color;
}

.prev-page-button.disabled {
  visibility: hidden;
}

.next-page-button {
  flex-grow: 1;
  margin-left: 25px;
}

.next-page-button:active {
  top: 2px;
  box-shadow: 0 0 0 $theme-shadow-color;
  -webkit-box-shadow: 0 0 0 $theme-shadow-color;
}

.active-button {
  top: 0;
  box-shadow: 0 0 0 $theme-shadow-color;
  -webkit-box-shadow: 0 0 0 $theme-shadow-color;
}

.fas.fa-caret-right {
  margin-left: 5px;
  color: $theme-font-color;
}

.fas.fa-caret-left {
  margin-right: 5px;
  color: $theme-font-color;
}
