.container {
  width: calc((100vw - 36px * var(--items)) / var(--items));;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 15px;
  background: #ffffff;
  position: relative;
  transition: top 0.1s, box-shadow 0.1s;
  top: 2px;
  font: 500 14px 'Roboto', sans-serif;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  -webkit-box-shadow: 4px 4px 0 black;
  cursor: grab;

  .youtube-img-wrapper {
    img {
      width: 100%;
    }
  }

  .container-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;

    .container-header {
      margin: 0;
      word-wrap: break-word;

      .container-header-title {
        margin: 0 0 15px 0;

        .container-header-title-link {
          font-size: 1.6rem;
          color: black;
          text-decoration: none;
        }
      }

      .container-header-channel {
        font-style: italic;
      }
    }

    .container-description {
      font-size: 1.4rem;

      p {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
    }

    .container-footer-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.4rem;
      margin-bottom: 10px;

      span {
        margin-left: 5px;
      }
    }
  }
}

.container:hover {
  top: 0;
  box-shadow: 6px 6px 0 black;
  -webkit-box-shadow: 6px 6px 0 black;
}

@media only screen and (max-width : 824px) and (orientation: landscape) {
  .container {
    .container-content {
      .container-header {
        .container-header-title {
          margin: 5px 0 0;

          .container-header-title-link {
            font-size: 1.2rem;
            display: inline-block;
            line-height: 1.75rem;
          }
        }

        .container-header-channel {
          font-size: 1rem;
        }
      }

      .container-description {
        p {
          font-size: 1rem;
        }
      }

      .container-footer {
        font-size: 1.1rem;

        .container-footer-wrapper {
          font-size: 1.1rem;
        }
      }
    }

    .youtube-img-wrapper img {
      width: 50%;
    }
  }
}

@media only screen and (max-width : 480px) {
  .container .container-content .container-description p {
    font-size: 1.2rem;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .container  {
    .youtube-img-wrapper img {
      width: 45%;
    }

    .container-content {
      .container-header {
        .container-header-title {
          margin: 5px 0 0;

          .container-header-title-link {
            display: inline-block;
            line-height: 1.75rem;
          }
        }
      }

      .container-description p {
        overflow: hidden;
        max-height: 55px;
      }
    }
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .container  {
    .container-content {
      .container-header {
        .container-header-title {
          margin: 5px 0;

          .container-header-title-link {
            display: inline-block;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}
