:root {
  --diff: 0px;
  --check: 0px;
  --chunk: 0;
  --request: 1;
  --items: 4;
}

.slider {
  display: flex;
  margin: 30px auto;
  width: calc((100vw * 15 / var(--items)) * var(--request));
  overflow: hidden;
  padding: 10px 0;
  justify-content: flex-start;
  transform: translateX(calc(((100vw - 144px) / 4 + 36px) * -4 * var(--chunk) - var(--diff)));
  transition: 0.35s ease-out;
}

@media only screen and (max-width : 1024px) {
  :root {
    --items: 3;
  }
}

@media only screen and (max-width : 768px) {
  :root {
    --items: 2;
  }
}

@media only screen and (max-width : 480px) {
  :root {
    --items: 1;
  }
}

@media only screen and (max-width : 824px) and (orientation: landscape) {
  .slider {
    margin: 10px auto;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .slider {
    margin: 5px auto;
    padding: 5px 0;
  }
}
