:root {
  --diff: 0px;
  --chunk: 0;
}

.slider {
  display: flex;
  flex-grow: 1;
  margin: 30px auto;
  width: calc(100vw * 3.75);
  overflow: hidden;
  padding: 10px 0;
  justify-content: flex-start;
  transform: translateX(calc(((100vw - 144px)/ 4 + 36px) * -4 * var(--chunk) - var(--diff)));
  transition: 0.5s ease-out;
}
